@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.card {
  position: relative;
  background: #340762;
  max-width: 700px;
  width: 90%;
  min-height: 450px;
  border-radius: 10px;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px 0px;
}
.card .titulo {
  text-transform: uppercase;
  font-size: 2em;
  color: #fff;
}
.card .card-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px 0px;
}
.card .card-form .campo {
  position: relative;
  width: 90%;
  height: auto;
}
.card .card-form .campo [type=email],
.card .card-form .campo [type=text],
.card .card-form .campo [type=password] {
  background-color: transparent;
  width: 100%;
  height: 40px;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid #fff;
  color: #fff;
  font-size: 1.1em;
  text-indent: 10px;
  transition: 0.8s;
  z-index: -1;
}
.card .card-form .campo [type=email]:focus + .nome-campo, .card .card-form .campo [type=email]:valid + .nome-campo,
.card .card-form .campo [type=text]:focus + .nome-campo,
.card .card-form .campo [type=text]:valid + .nome-campo,
.card .card-form .campo [type=password]:focus + .nome-campo,
.card .card-form .campo [type=password]:valid + .nome-campo {
  top: -20px;
  font-size: 0.8em;
}
.card .card-form .campo [type=email].ativo,
.card .card-form .campo [type=text].ativo,
.card .card-form .campo [type=password].ativo {
  border-color: red;
}
.card .card-form .campo .nome-campo {
  position: absolute;
  left: 10px;
  top: 8px;
  color: #fff;
  font-size: 1.1em;
  transition: 0.3s;
  pointer-events: none;
}
.card .card-form .campo .nome-campo.ativo {
  top: -20px;
  font-size: 0.8em;
}
.card .card-form .campo .icone-campo {
  position: absolute;
  right: 0px;
  top: 4px;
  background: #340762;
  color: #fff;
  width: 50px;
  height: 80%;
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.card .card-form .campo .icone-senha {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 4px;
  width: 50px;
  height: 80%;
  background: #340762;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.card .card-form .campo .icone-senha .icone-item {
  font-size: 1.3em;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card .card-form .campo span {
  position: absolute;
  left: 0px;
  bottom: -23px;
  color: red;
  font-size: 0.8em;
  font-weight: 600;
  opacity: 0;
  transition: 0.8s;
}
.card .card-form .campo span.ativo {
  opacity: 1;
}
.card .card-form .senha {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2px 0px;
}
.card .card-form .senha .senha-item {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 0.9em;
  transition: 0.3s;
}
.card .card-form .senha .senha-item:hover {
  opacity: 0.7;
}
.card .card-form [type=submit] {
  cursor: pointer;
  max-width: 250px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: #7c13e8;
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  transition: 0.3s;
}
.card .card-form [type=submit]:hover {
  opacity: 0.9;
}
.card .icone-pessoa {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
  background: royalblue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 2.8em;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 360px) {
  .card .card-form [type=submit] {
    max-width: 200px;
  }
  .card .card-form .campo span {
    font-size: 0.7em;
  }
}
.mensagem {
  background: rgb(16, 239, 19);
  position: absolute;
  top: -150px;
  max-width: 400px;
  width: 90%;
  height: auto;
  padding: 30px 0px;
  z-index: 999;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.mensagem .paragrafo {
  color: rgb(21, 115, 22);
  font-size: 1em;
  font-weight: 600;
  width: 90%;
  text-align: center;
}

.mensagem.ativo {
  opacity: 1;
  top: 50px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom, #7c13e8, #340762);
  max-width: 500px;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding: 60px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}/*# sourceMappingURL=index.css.map */